@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/*css header*/

.--pc-menu > ul li {
  display: inline-block;
  font-family: var(--font-playfair-display), serif;
  font-size: 20px;
  padding: 12px 10px 16px;
  width: 20%;
}

.heading{
  background: rgb(110, 13, 13);
}
.heading p{
  font-size: 4.5rem;
  font-family: var(--font-playfair-display);
  text-align: center;
  padding: 0 0 18px 0;
  text-shadow: -2px 2px rgb(110, 13, 13), -3px 3px #eadbce;
  color: #eadbce;
}

/*end css header*/

/* css background */
body{
  background-image: url("/web-style/bg.png");
  background-repeat: repeat;
}
.heading-menu{
    background-color: #fbecd5;
}
.heading-menu h2{
  color:rgb(99 65 21)
}
.heading-menu hr{
  border-color:rgb(99 65 21);
  border-top: solid 2px;
  border-bottom: solid 1px;
}

/* css custom color  */
.color-orange{
  color: rgb(198 95 25)
}
.color-orange-2{
  color: rgb(117 50 4);
}
.shadow-style-txt_01{
  text-shadow: -1px 1px #ffffff, -2px 1px rgb(117, 50, 4);
}
.line_style_01{
  width: 100px;
  height:2px;
  background-color:rgb(117 50 4);
  display: block;
  margin: 0 auto;
}
.gallery-item{
    float: left;
}
.shadow-style-txt_02{
  text-shadow: -1px 1px rgba(18, 18, 18, 0.87), -2px 1px #E5C282;
}
.bg-triple-black {
  background-color: rgba(18, 18, 18, 0.87);
}

