.block-prod .item{
    padding: 0 10px;
    text-align: center;
    font-family: var(--font-playfair-display);
    margin-bottom: 2rem;
}
.item img{
    margin:0 auto 2rem;
    width: 232px;
    height: 232px;
    object-fit: cover;
}
.item .item_title{
    color: rgba(99 65 21);
    font-size: 1.4rem;
    max-width: 232px;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 18px;
}
.line_style_02{
    display: block;
    background-color: rgba(161 150 134);
    width: 192px;
    height: 2px;
    margin: 0 auto;
}
.item_remark{
    color: rgba(198 95 25);
    line-height: 1.6;
    margin-top: 12px;
    margin-bottom: 25px;
    font-size: 16px;
}
.price{
    color: rgba(99 65 21);
    margin-top: 12px;
    margin-bottom: 25px;
    font-size: 20px;
}
.item > svg{
    display: inline-block;
    margin: 0 auto;
}